// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 50px;
}
#spinner{
  margin-left: auto;
  margin-right: auto;
  display: none;
}
